:root {
  --theme-title-text: #fff;
  --theme-background: #000;
  --theme-border-color: #999;
  --theme-content-text: #99A19E;
  --theme-skill-color: #99A19E;
  --theme-link-hover: #fff;
  --theme-link-active: #fff;
  --theme-link-text: #99A19E;
  --theme-strong-text: #ffc83d;
}
.white {
  --theme-title-text: #333;
  --theme-background: #fff;
  --theme-border-color: #999;
  --theme-content-text: #777;
  --theme-skill-color: #777;
  --theme-link-hover: #333;
  --theme-link-active: #333;
  --theme-link-text: #777;
  --theme-strong-text: #ffc83d;
}
.dark {
  --theme-title-text: #fff;
  --theme-background: #000;
  --theme-border-color: #999;
  --theme-content-text: #99A19E;
  --theme-skill-color: #99A19E;
  --theme-link-hover: #fff;
  --theme-link-active: #fff;
  --theme-link-text: #99A19E;
  --theme-strong-text: #ffc83d;
}
